Remove default bullets ul,
li,
.menu_tree {
    list-style-type: none;
}


/* Remove margins and padding from the parent ul */

.menu_tree {
    margin: 0;
    padding: 0;
}


/* Style the caretId/arrow */

.caretId {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}


/* Create the caretId/arrow with a unicode, and style it */

.caretId::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 2px;
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.caretId-down::before {
    transform: rotate(90deg);
}


/* Hide the nested list */

.nestedId {
    display: none;
}


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
    display: block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }